03_Cloud_Dashboard/dashboard.json
[
    {
        "id": "a428262f9708b3f3",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "28482532dcbb6d48",
        "type": "tab",
        "label": "Température",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b5fbf79cf3fe4630",
        "type": "tab",
        "label": "Humidité",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da3dbcda3d3cedf5",
        "type": "tab",
        "label": "Pression",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "478fa990d571ea81",
        "type": "tab",
        "label": "Qualité Air",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2d92b7c661c77f2",
        "type": "tab",
        "label": "GRAPHIQUES",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7f7f8fbf85e57dd8",
        "type": "tab",
        "label": "Boutons / Texte",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca857e5bc0340312",
        "type": "tab",
        "label": "Autre",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f66f1cb32a02db29",
        "type": "group",
        "z": "f2d92b7c661c77f2",
        "name": "GRAPHIQUE SALLE 1",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c7cbe741bb2a2a93",
            "176be534dd91e1fa",
            "2df02c80abc9bde4",
            "5d49f68db05838db",
            "e1c2ae0bad9e401e",
            "e449102b90166344",
            "a8898717affafdb7"
        ],
        "x": 284,
        "y": 119,
        "w": 362,
        "h": 242
    },
    {
        "id": "e6aa9a33994fb842",
        "type": "group",
        "z": "f2d92b7c661c77f2",
        "name": "GRAPHIQUE SALLE 2",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ce0d2588616c12f8",
            "9df5f6ac4576b372",
            "23e700540ffa4e61",
            "59cb07e26be1a55a",
            "91be1612df20493c",
            "209ef6594d7f6ad0",
            "2e1cebc36f26d647"
        ],
        "x": 294,
        "y": 419,
        "w": 352,
        "h": 242
    },
    {
        "id": "941c9ab9343d0f62",
        "type": "group",
        "z": "28482532dcbb6d48",
        "name": "TEMPERATURE",
        "style": {
            "fill": "#00DDFF",
            "label": true,
            "color": "#000000",
            "stroke": "#000000"
        },
        "nodes": [
            "c238f6a5aa31e888",
            "745181e9ca14d46d",
            "fdb9b82923e9dcdd",
            "e09f9ea856b8da6f",
            "9b0fb30bb4329d6a",
            "23b4114b5657411b",
            "9575e7477918a8b3"
        ],
        "x": 94,
        "y": 399,
        "w": 1142,
        "h": 202
    },
    {
        "id": "3c18a981ca6d1e64",
        "type": "group",
        "z": "28482532dcbb6d48",
        "name": "SALLE 1",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "51b117701422fb79",
            "d635baea0bb56483",
            "a25c70472f1313a3",
            "1a026dc262864018",
            "b6e10da2317d5a50"
        ],
        "x": 1514,
        "y": 319,
        "w": 352,
        "h": 202
    },
    {
        "id": "69d4291458d9d083",
        "type": "group",
        "z": "28482532dcbb6d48",
        "name": "SALLE 2",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "85d85cd68830e164",
            "229713cbe972675a",
            "7a272fe809e66e21",
            "a7fc7a981f6d04ce",
            "c89592df0fcc6912"
        ],
        "x": 1514,
        "y": 599,
        "w": 352,
        "h": 202
    },
    {
        "id": "5ce2c169f6082702",
        "type": "group",
        "z": "b5fbf79cf3fe4630",
        "name": "HUMIDITE",
        "style": {
            "fill": "#ff0000",
            "label": true,
            "color": "#000000",
            "stroke": "#000000"
        },
        "nodes": [
            "7debd6e2172ee51a",
            "b05a05c6c2cd1f7b",
            "2609538175866e22",
            "1371f20517dcd42b",
            "9692e4766f46655b",
            "d5e2d84d1b0e55e2",
            "0e48f95deaa36790"
        ],
        "x": 94,
        "y": 259,
        "w": 1192,
        "h": 202
    },
    {
        "id": "9cf13b8e929eca87",
        "type": "group",
        "z": "b5fbf79cf3fe4630",
        "name": "SALLE 1",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "56aa4c33679014bf",
            "2c1f5043d4350721",
            "79e1c63f9def0141"
        ],
        "x": 1574,
        "y": 119,
        "w": 292,
        "h": 162
    },
    {
        "id": "8d112b1bf487c291",
        "type": "group",
        "z": "b5fbf79cf3fe4630",
        "name": "SALLE 2",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5df0f0d3c15c8d66",
            "474ef38a1e0ae7e0",
            "5e8eb2b9571a9c03"
        ],
        "x": 1574,
        "y": 399,
        "w": 292,
        "h": 162
    },
    {
        "id": "0bb27fb54c304beb",
        "type": "group",
        "z": "478fa990d571ea81",
        "name": "QUALITE AIR",
        "style": {
            "fill": "#00FF1A",
            "label": true,
            "color": "#000000",
            "stroke": "#000000"
        },
        "nodes": [
            "f5eb51c024dd4b54",
            "b349d62410f857ab",
            "4a36e6de11c9cb84",
            "7a5ea9631afeb024",
            "fdbe9e6b994c5a64",
            "783fca675676d6a5",
            "bdd24d56df55fe2b"
        ],
        "x": 134,
        "y": 219,
        "w": 1092,
        "h": 202
    },
    {
        "id": "1de4cd7949758f48",
        "type": "group",
        "z": "478fa990d571ea81",
        "name": "SALLE 1",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9a0e3f4bc0723c14",
            "d28de00b8a080df8",
            "be702aee0ab6c6e4"
        ],
        "x": 1354,
        "y": 119,
        "w": 292,
        "h": 162
    },
    {
        "id": "1b243ad50ef84d78",
        "type": "group",
        "z": "478fa990d571ea81",
        "name": "SALLE 2",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5ee3586068bdae5d",
            "f841a2e5a44f8685",
            "deb6ba5e42333a5f"
        ],
        "x": 1354,
        "y": 359,
        "w": 292,
        "h": 162
    },
    {
        "id": "74ba62ed114aee88",
        "type": "group",
        "z": "da3dbcda3d3cedf5",
        "name": "PRESSION",
        "style": {
            "fill": "#FF00CC",
            "label": true,
            "color": "#000000",
            "stroke": "#000000"
        },
        "nodes": [
            "1cfae57f8142d415",
            "6481e2c865e559a3",
            "c74d386ac5142e08",
            "9c83dc7c593a98e8",
            "22b3443b4d9e84bc",
            "e7fb573d07f5726c",
            "46df33884927592d"
        ],
        "x": 54,
        "y": 299,
        "w": 1152,
        "h": 202
    },
    {
        "id": "6b85a48f2bb38df0",
        "type": "group",
        "z": "da3dbcda3d3cedf5",
        "name": "SALLE 1",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "68f2d2a7507e1219",
            "c99e61b4f170270a",
            "010873a509ef02f3"
        ],
        "x": 1554,
        "y": 159,
        "w": 292,
        "h": 162
    },
    {
        "id": "22a75c3f04350e3f",
        "type": "group",
        "z": "da3dbcda3d3cedf5",
        "name": "SALLE 2",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "92fc1f2f986b3def",
            "105a004017ee681a",
            "ca375f6b3385a1a4"
        ],
        "x": 1554,
        "y": 479,
        "w": 292,
        "h": 162
    },
    {
        "id": "6425bb91cec0b581",
        "type": "group",
        "z": "7f7f8fbf85e57dd8",
        "name": "MENU",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "54ddef7a7783754f",
            "fc9308ad7e99ba4d",
            "a272799ea1d05f26",
            "ea3472339e797d0c",
            "1015f82f482e1fd8",
            "0bb02b0b753956a1",
            "49b9c758ecd4b5bd",
            "7b453fa001dba797",
            "fe9f8b058a70b23d",
            "9123c09fb5494209",
            "10d57428fda71d77",
            "74a314507ff81473",
            "fa79f8e364e1d802",
            "770acaeaa41a0f89",
            "79a7f580432108fb"
        ],
        "x": 174,
        "y": 19,
        "w": 672,
        "h": 322
    },
    {
        "id": "1be564a66583308f",
        "type": "group",
        "z": "7f7f8fbf85e57dd8",
        "name": "INDICATEURS",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f45d4fb509cfd828",
            "9824bd129e2b2a87",
            "a6a6a941afffc57d",
            "ad710a26d704e03a",
            "203e38f2e21d45ef",
            "331d221b9cd654f4",
            "a34e04721f23dabc",
            "7211fcdc0dae92a6",
            "1c8f9843be4f0cf2",
            "1a03c4e72830d2b3",
            "ab0ff6d030c04542"
        ],
        "x": 94,
        "y": 379,
        "w": 752,
        "h": 262
    },
    {
        "id": "8a219d295def39ff",
        "type": "group",
        "z": "7f7f8fbf85e57dd8",
        "name": "GRAPHIQUES",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "495e02aaf72c0a56",
            "2d3d85cc87f3b6ae",
            "7107f764d54d81b2",
            "94ed2d5744ce243a",
            "34ab2ffe5da6e5e5",
            "f8e61b4767bdbf2e",
            "9f9fc868fc04bdc8",
            "a36d349c1753a12c",
            "59e4b0ec5ad001b8",
            "289cb03e1b9ec7f0",
            "6ee7c8a8c41cc33d"
        ],
        "x": 114,
        "y": 1079,
        "w": 732,
        "h": 242
    },
    {
        "id": "426feb430f3820aa",
        "type": "group",
        "z": "7f7f8fbf85e57dd8",
        "name": "INDICATEURS_SALLE1",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f74f3f941173e875",
            "c119c8cf5090d981",
            "3d0ede131d3a24a4",
            "7e2599ac1b6811d1",
            "e1ef40aaf23b3bcb",
            "87e9f8665b2ef4f3",
            "1f6cbeecf2139e38"
        ],
        "x": 34,
        "y": 679,
        "w": 812,
        "h": 162
    },
    {
        "id": "ef461cd0f13baf2c",
        "type": "group",
        "z": "7f7f8fbf85e57dd8",
        "name": "INDICATEURS_SALLE2",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "782681d1960a9bc4",
            "92e2aa2ecd64470e",
            "406f4a2b98ddf56d",
            "27ae4e8a81280cc6",
            "e60af9798b7f03f5",
            "ea475eda4f194cf0",
            "2e0e4a783c7417d4"
        ],
        "x": 34,
        "y": 879,
        "w": 812,
        "h": 162
    },
    {
        "id": "0c6e24edbbb69927",
        "type": "group",
        "z": "7f7f8fbf85e57dd8",
        "name": "GRAPHIQUES_SALLE2",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "0780a974e720284e",
            "c6d02658e4334571",
            "47d10d2062496a39",
            "851ae33a0d0c59af",
            "d6ac1d2db64b1f38",
            "aa22fa1065427700",
            "39628bc1c3619a9e"
        ],
        "x": 34,
        "y": 1359,
        "w": 812,
        "h": 162
    },
    {
        "id": "33c9d9cd7d6a9744",
        "type": "group",
        "z": "7f7f8fbf85e57dd8",
        "name": "GRAPHIQUES_SALLE2",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b48e98bb9a0ee539",
            "f43cfe0f1828a37d",
            "0a766f911ffdd3cd",
            "8bc5c27bd24dddd5",
            "5822baacd5ed1d96",
            "c1349779fef505e2",
            "d6dc2137e86463a7"
        ],
        "x": 34,
        "y": 1559,
        "w": 812,
        "h": 162
    },
    {
        "id": "40bb62b9a9e69d05",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.102",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9274ec9de4fd87c1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "966c624c504785b0",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "bf13a69d4ea4cbf8",
        "type": "ui-page",
        "name": "Menu",
        "ui": "966c624c504785b0",
        "path": "/menu",
        "icon": "home",
        "layout": "grid",
        "theme": "948d57890ccbeab0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            },
            {
                "name": "Mobile",
                "px": "<576",
                "cols": "4"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "12ed5054cf075195",
        "type": "ui-page",
        "name": "Graphiques",
        "ui": "966c624c504785b0",
        "path": "/graphiques",
        "icon": "function",
        "layout": "grid",
        "theme": "948d57890ccbeab0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 6,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "6582771c900d4562",
        "type": "ui-page",
        "name": "Indicateurs",
        "ui": "966c624c504785b0",
        "path": "/indicateurs",
        "icon": "alert",
        "layout": "grid",
        "theme": "948d57890ccbeab0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "b811f976cf757c38",
        "type": "ui-page",
        "name": "VIDE",
        "ui": "966c624c504785b0",
        "path": "/test",
        "icon": "home",
        "layout": "grid",
        "theme": "948d57890ccbeab0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "false",
        "disabled": "true"
    },
    {
        "id": "7972e03f74d8dbda",
        "type": "ui-page",
        "name": "INDICATEURS SALLE 1",
        "ui": "966c624c504785b0",
        "path": "/indicateursalle1",
        "icon": "mi-magnify",
        "layout": "grid",
        "theme": "948d57890ccbeab0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            },
            {
                "name": "",
                "px": "",
                "cols": ""
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e8eca9c8ad9b7c83",
        "type": "ui-page",
        "name": "INDICATEURS SALLE 2",
        "ui": "966c624c504785b0",
        "path": "/indicateursalle2",
        "icon": "ssd",
        "layout": "grid",
        "theme": "948d57890ccbeab0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 5,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c3e55b51b827b210",
        "type": "ui-page",
        "name": "GRAPHIQUE SALLE 1",
        "ui": "966c624c504785b0",
        "path": "/graphiquesalle1",
        "icon": "fsdsfsf",
        "layout": "grid",
        "theme": "948d57890ccbeab0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 7,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "6e89debfd61cdc27",
        "type": "ui-page",
        "name": "GRAPHIQUE SALLE 2",
        "ui": "966c624c504785b0",
        "path": "/graphiquesalle2",
        "icon": "sdsdsd",
        "layout": "grid",
        "theme": "948d57890ccbeab0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 8,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "7ecb30ab32ed2881",
        "type": "ui-group",
        "name": "Indicateurs Salle 1",
        "page": "6582771c900d4562",
        "width": 5,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e4c54032fc1a4376",
        "type": "ui-group",
        "name": "Navigation",
        "page": "bf13a69d4ea4cbf8",
        "width": 12,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d1c483375cfa1844",
        "type": "ui-group",
        "name": "Graphiques SALLE 1",
        "page": "12ed5054cf075195",
        "width": 5,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "860ff9dfc63ebb37",
        "type": "ui-group",
        "name": "Navigation",
        "page": "6582771c900d4562",
        "width": 2,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "31e3d1a2d59240a3",
        "type": "ui-group",
        "name": "Navigation",
        "page": "12ed5054cf075195",
        "width": 2,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "74e44e608f6df442",
        "type": "ui-group",
        "name": "Indicateurs Salle 2",
        "page": "6582771c900d4562",
        "width": 5,
        "height": 1,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bc68b521c8446307",
        "type": "ui-group",
        "name": "Navigation",
        "page": "7972e03f74d8dbda",
        "width": 2,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4843d4c6e98112e6",
        "type": "ui-group",
        "name": "Navigation",
        "page": "e8eca9c8ad9b7c83",
        "width": 2,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "55ccc1eeea950e03",
        "type": "ui-group",
        "name": "Indicateurs",
        "page": "7972e03f74d8dbda",
        "width": 10,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "fea12538167ee38c",
        "type": "ui-group",
        "name": "Indicateurs",
        "page": "e8eca9c8ad9b7c83",
        "width": 10,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8277afbbd1e8fb12",
        "type": "ui-group",
        "name": "Test",
        "page": "b811f976cf757c38",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "788a01256dab4cd0",
        "type": "ui-group",
        "name": "Graphiques SALLE 2",
        "page": "12ed5054cf075195",
        "width": 5,
        "height": 1,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f283254cb51982b5",
        "type": "ui-group",
        "name": "Navigation",
        "page": "c3e55b51b827b210",
        "width": 2,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "18fcc85af1dd1f7a",
        "type": "ui-group",
        "name": "Navigation",
        "page": "6e89debfd61cdc27",
        "width": 2,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "385e324c7234dc56",
        "type": "ui-group",
        "name": "Graphiques",
        "page": "c3e55b51b827b210",
        "width": 10,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1cdea05a0ebe726c",
        "type": "ui-group",
        "name": "Graphiques",
        "page": "6e89debfd61cdc27",
        "width": 10,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "948d57890ccbeab0",
        "type": "ui-theme",
        "name": "Dark",
        "colors": {
            "surface": "#474747",
            "primary": "#d10000",
            "bgPage": "#696969",
            "groupBg": "#b3b3b3",
            "groupOutline": "#ffffff"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "72b83e4f366aa496",
        "type": "inject",
        "z": "a428262f9708b3f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "1d80a43439d4e23d"
            ]
        ]
    },
    {
        "id": "1d80a43439d4e23d",
        "type": "debug",
        "z": "a428262f9708b3f3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "1d0ff120cf2bc01b",
        "type": "link out",
        "z": "28482532dcbb6d48",
        "name": "TEMPERATURE_OUT_1",
        "mode": "link",
        "links": [
            "5d49f68db05838db"
        ],
        "x": 1235,
        "y": 460,
        "wires": []
    },
    {
        "id": "bd1051905c3d9b54",
        "type": "link out",
        "z": "28482532dcbb6d48",
        "name": "TEMPERATURE_OUT_2",
        "mode": "link",
        "links": [
            "59cb07e26be1a55a"
        ],
        "x": 1235,
        "y": 620,
        "wires": []
    },
    {
        "id": "c238f6a5aa31e888",
        "type": "switch",
        "z": "28482532dcbb6d48",
        "g": "941c9ab9343d0f62",
        "name": "",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "msg.payload.id = \"3C:DC:75:4A:10:C0\" and msg.payload.data < 170",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "msg.payload.id = \"3C:DC:75:4A:10:C0\" and msg.payload.data > 170",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "msg.payload.id = \"3C:DC:75:44:C4:FC\" and msg.payload.data < 170",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "msg.payload.id = \"3C:DC:75:44:C4:FC\" and msg.payload.data > 170",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1150,
        "y": 540,
        "wires": [
            [
                "1d0ff120cf2bc01b",
                "51b117701422fb79",
                "d635baea0bb56483",
                "a25c70472f1313a3"
            ],
            [
                "b6e10da2317d5a50",
                "f4c98692af1c0f3f"
            ],
            [
                "bd1051905c3d9b54",
                "85d85cd68830e164",
                "229713cbe972675a",
                "7a272fe809e66e21"
            ],
            [
                "a7fc7a981f6d04ce",
                "020ba4d9ed44ee3c"
            ]
        ]
    },
    {
        "id": "b6e10da2317d5a50",
        "type": "function",
        "z": "28482532dcbb6d48",
        "g": "3c18a981ca6d1e64",
        "name": "function 3",
        "func": "msg.topic = \"Erreur Temperature\";\nmsg.payload = \"SALLE 1 : Le capteur BME 280 doit être branché correctement.\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 480,
        "wires": [
            [
                "1a026dc262864018"
            ]
        ]
    },
    {
        "id": "a7fc7a981f6d04ce",
        "type": "function",
        "z": "28482532dcbb6d48",
        "g": "69d4291458d9d083",
        "name": "function 4",
        "func": "msg.topic = \"Erreur Temperature\";\nmsg.payload = \"SALLE 2 : Le capteur BME 280 doit être branché correctement.\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 760,
        "wires": [
            [
                "c89592df0fcc6912"
            ]
        ]
    },
    {
        "id": "f4c98692af1c0f3f",
        "type": "function",
        "z": "28482532dcbb6d48",
        "name": "ERROR CODE",
        "func": "msg.payload.data = 503;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 340,
        "wires": [
            [
                "51b117701422fb79",
                "d635baea0bb56483"
            ]
        ]
    },
    {
        "id": "020ba4d9ed44ee3c",
        "type": "function",
        "z": "28482532dcbb6d48",
        "name": "ERROR CODE",
        "func": "msg.payload.data = 503;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 780,
        "wires": [
            [
                "85d85cd68830e164",
                "229713cbe972675a"
            ]
        ]
    },
    {
        "id": "fdb9b82923e9dcdd",
        "type": "mqtt in",
        "z": "28482532dcbb6d48",
        "g": "941c9ab9343d0f62",
        "name": "MQTT_Temperature",
        "topic": "eclss/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "40bb62b9a9e69d05",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 480,
        "wires": [
            [
                "9b0fb30bb4329d6a",
                "745181e9ca14d46d"
            ]
        ]
    },
    {
        "id": "a25c70472f1313a3",
        "type": "ui-chart",
        "z": "28482532dcbb6d48",
        "g": "3c18a981ca6d1e64",
        "group": "385e324c7234dc56",
        "name": "GraphiqueSalle1_Température",
        "label": "Température",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.data",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 5,
        "height": 5,
        "className": "",
        "interpolation": "linear",
        "x": 1670,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "7a272fe809e66e21",
        "type": "ui-chart",
        "z": "28482532dcbb6d48",
        "g": "69d4291458d9d083",
        "group": "1cdea05a0ebe726c",
        "name": "GraphiqueSalle2_Température",
        "label": "Température",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.data",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 5,
        "height": 5,
        "className": "",
        "interpolation": "linear",
        "x": 1670,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "51b117701422fb79",
        "type": "ui-gauge",
        "z": "28482532dcbb6d48",
        "g": "3c18a981ca6d1e64",
        "name": "Indicateurs_Température",
        "group": "7ecb30ab32ed2881",
        "order": 2,
        "value": "payload.data",
        "valueType": "msg",
        "width": 2,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Température",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Degrès C°",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "9",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "16",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "28",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1690,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d635baea0bb56483",
        "type": "ui-gauge",
        "z": "28482532dcbb6d48",
        "g": "3c18a981ca6d1e64",
        "name": "IndicateurSalle1_Température",
        "group": "55ccc1eeea950e03",
        "order": 3,
        "value": "payload.data",
        "valueType": "msg",
        "width": 5,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Température",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Degrès C°",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "9",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "16",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "28",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1670,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "85d85cd68830e164",
        "type": "ui-gauge",
        "z": "28482532dcbb6d48",
        "g": "69d4291458d9d083",
        "name": "Indicateurs_Température",
        "group": "74e44e608f6df442",
        "order": 2,
        "value": "payload.data",
        "valueType": "msg",
        "width": 2,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Température",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Degrès C°",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "9",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "16",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "28",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1690,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "229713cbe972675a",
        "type": "ui-gauge",
        "z": "28482532dcbb6d48",
        "g": "69d4291458d9d083",
        "name": "IndicateurSalle2_Température",
        "group": "fea12538167ee38c",
        "order": 2,
        "value": "payload.data",
        "valueType": "msg",
        "width": 5,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Température",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Degrès C°",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "9",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "16",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "28",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1670,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "1a026dc262864018",
        "type": "ui-notification",
        "z": "28482532dcbb6d48",
        "g": "3c18a981ca6d1e64",
        "ui": "966c624c504785b0",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "10",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Fermer",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Notif Temp",
        "x": 1770,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c89592df0fcc6912",
        "type": "ui-notification",
        "z": "28482532dcbb6d48",
        "g": "69d4291458d9d083",
        "ui": "966c624c504785b0",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "10",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Fermer",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Notif Temp",
        "x": 1770,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "e09f9ea856b8da6f",
        "type": "hmac",
        "z": "28482532dcbb6d48",
        "g": "941c9ab9343d0f62",
        "name": "test",
        "algorithm": "HmacSHA256",
        "key": "HGL51xcaM7q43f3dq84fqDQF2ds54f3f43",
        "x": 570,
        "y": 560,
        "wires": [
            [
                "9575e7477918a8b3"
            ]
        ]
    },
    {
        "id": "9b0fb30bb4329d6a",
        "type": "function",
        "z": "28482532dcbb6d48",
        "g": "941c9ab9343d0f62",
        "name": "function 5",
        "func": "msg.payload = \"id=\" + msg.payload.id + \"&data=\" + msg.payload.data;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 560,
        "wires": [
            [
                "e09f9ea856b8da6f"
            ]
        ]
    },
    {
        "id": "23b4114b5657411b",
        "type": "function",
        "z": "28482532dcbb6d48",
        "g": "941c9ab9343d0f62",
        "name": "function 6",
        "func": "// Test stockage\nif (msg.from === \"brut\") {\n    flow.set(\"flux_brut\", msg.payload);\n    return null;\n}\n\n    \n// Test récupération\nif (msg.from === \"hmac\") {\n\n    var fluxBrut = flow.get(\"flux_brut\");\n    \n    if (!fluxBrut) {\n        return null;\n    }\n\n    var conditionOK = (fluxBrut.hmac === msg.payload);\n\n    if (conditionOK) {\n        var currentflux = fluxBrut;\n        flow.set(\"flux_brut\", null);\n        msg.payload = currentflux;\n        return msg;\n    } else {\n        flow.set(\"flux_brut\", null);\n        return null;\n    }\n}\n  \nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 480,
        "wires": [
            [
                "c238f6a5aa31e888"
            ]
        ]
    },
    {
        "id": "745181e9ca14d46d",
        "type": "change",
        "z": "28482532dcbb6d48",
        "g": "941c9ab9343d0f62",
        "name": "brut",
        "rules": [
            {
                "t": "set",
                "p": "from",
                "pt": "msg",
                "to": "brut",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "23b4114b5657411b"
            ]
        ]
    },
    {
        "id": "9575e7477918a8b3",
        "type": "change",
        "z": "28482532dcbb6d48",
        "g": "941c9ab9343d0f62",
        "name": "hmac",
        "rules": [
            {
                "t": "set",
                "p": "from",
                "pt": "msg",
                "to": "hmac",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 560,
        "wires": [
            [
                "23b4114b5657411b"
            ]
        ]
    },
    {
        "id": "b619ae0af6229bb1",
        "type": "link out",
        "z": "b5fbf79cf3fe4630",
        "name": "HUMIDITE_OUT_1",
        "mode": "link",
        "links": [
            "e1c2ae0bad9e401e"
        ],
        "x": 1305,
        "y": 240,
        "wires": []
    },
    {
        "id": "48b579de2a866f15",
        "type": "link out",
        "z": "b5fbf79cf3fe4630",
        "name": "HUMIDITE_OUT_2",
        "mode": "link",
        "links": [
            "91be1612df20493c"
        ],
        "x": 1305,
        "y": 400,
        "wires": []
    },
    {
        "id": "7debd6e2172ee51a",
        "type": "mqtt in",
        "z": "b5fbf79cf3fe4630",
        "g": "5ce2c169f6082702",
        "name": "MQTT_Humidité",
        "topic": "eclss/humidite",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "40bb62b9a9e69d05",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 380,
        "wires": [
            [
                "2609538175866e22",
                "9692e4766f46655b"
            ]
        ]
    },
    {
        "id": "b05a05c6c2cd1f7b",
        "type": "switch",
        "z": "b5fbf79cf3fe4630",
        "g": "5ce2c169f6082702",
        "name": "",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "msg.payload.id = \"3C:DC:75:4A:10:C0\" and msg.payload.data < 100",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "msg.payload.id = \"3C:DC:75:4A:10:C0\" and msg.payload.data = 100",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "msg.payload.id = \"3C:DC:75:44:C4:FC\" and msg.payload.data < 100",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "msg.payload.id = \"3C:DC:75:44:C4:FC\" and msg.payload.data = 100",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1200,
        "y": 320,
        "wires": [
            [
                "b619ae0af6229bb1",
                "56aa4c33679014bf",
                "2c1f5043d4350721",
                "79e1c63f9def0141"
            ],
            [
                "bc42b62180b378e5"
            ],
            [
                "48b579de2a866f15",
                "474ef38a1e0ae7e0",
                "5e8eb2b9571a9c03",
                "5df0f0d3c15c8d66"
            ],
            [
                "d51ff781dde90bc5"
            ]
        ]
    },
    {
        "id": "bc42b62180b378e5",
        "type": "function",
        "z": "b5fbf79cf3fe4630",
        "name": "ERROR CODE",
        "func": "msg.payload.data = 503;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 140,
        "wires": [
            [
                "56aa4c33679014bf",
                "2c1f5043d4350721"
            ]
        ]
    },
    {
        "id": "d51ff781dde90bc5",
        "type": "function",
        "z": "b5fbf79cf3fe4630",
        "name": "ERROR CODE",
        "func": "msg.payload.data = 503;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 420,
        "wires": [
            [
                "5df0f0d3c15c8d66",
                "474ef38a1e0ae7e0"
            ]
        ]
    },
    {
        "id": "79e1c63f9def0141",
        "type": "ui-chart",
        "z": "b5fbf79cf3fe4630",
        "g": "9cf13b8e929eca87",
        "group": "385e324c7234dc56",
        "name": "GraphiqueSalle1_Humidité",
        "label": "Humidité",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.data",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#ff0000",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 5,
        "height": 5,
        "className": "",
        "interpolation": "linear",
        "x": 1720,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "5e8eb2b9571a9c03",
        "type": "ui-chart",
        "z": "b5fbf79cf3fe4630",
        "g": "8d112b1bf487c291",
        "group": "1cdea05a0ebe726c",
        "name": "GraphiqueSalle2_Humidité",
        "label": "Humidité",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.data",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#ff0000",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 5,
        "height": 5,
        "className": "",
        "interpolation": "linear",
        "x": 1720,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "56aa4c33679014bf",
        "type": "ui-gauge",
        "z": "b5fbf79cf3fe4630",
        "g": "9cf13b8e929eca87",
        "name": "Indicateurs_Humidité",
        "group": "7ecb30ab32ed2881",
        "order": 3,
        "value": "payload.data",
        "valueType": "msg",
        "width": 2,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Humidité",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%RH",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "20",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "60",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1740,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2c1f5043d4350721",
        "type": "ui-gauge",
        "z": "b5fbf79cf3fe4630",
        "g": "9cf13b8e929eca87",
        "name": "IndicateurSalle1_Humidité",
        "group": "55ccc1eeea950e03",
        "order": 2,
        "value": "payload.data",
        "valueType": "msg",
        "width": 5,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Humidité",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%RH",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "20",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "60",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1730,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5df0f0d3c15c8d66",
        "type": "ui-gauge",
        "z": "b5fbf79cf3fe4630",
        "g": "8d112b1bf487c291",
        "name": "Indicateurs_Humidité",
        "group": "74e44e608f6df442",
        "order": 3,
        "value": "payload.data",
        "valueType": "msg",
        "width": 2,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Humidité",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%RH",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "20",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "60",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1740,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "474ef38a1e0ae7e0",
        "type": "ui-gauge",
        "z": "b5fbf79cf3fe4630",
        "g": "8d112b1bf487c291",
        "name": "IndicateurSalle2_Humidité",
        "group": "fea12538167ee38c",
        "order": 3,
        "value": "payload.data",
        "valueType": "msg",
        "width": 5,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Humidité",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%RH",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "20",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "60",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1730,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "1371f20517dcd42b",
        "type": "hmac",
        "z": "b5fbf79cf3fe4630",
        "g": "5ce2c169f6082702",
        "name": "test",
        "algorithm": "HmacSHA256",
        "key": "HGL51xcaM7q43f3dq84fqDQF2ds54f3f43",
        "x": 590,
        "y": 420,
        "wires": [
            [
                "0e48f95deaa36790"
            ]
        ]
    },
    {
        "id": "9692e4766f46655b",
        "type": "function",
        "z": "b5fbf79cf3fe4630",
        "g": "5ce2c169f6082702",
        "name": "function 7",
        "func": "msg.payload = \"id=\" + msg.payload.id + \"&data=\" + msg.payload.data;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 420,
        "wires": [
            [
                "1371f20517dcd42b"
            ]
        ]
    },
    {
        "id": "d5e2d84d1b0e55e2",
        "type": "function",
        "z": "b5fbf79cf3fe4630",
        "g": "5ce2c169f6082702",
        "name": "function 8",
        "func": "// Test stockage\nif (msg.from === \"brut\") {\n    flow.set(\"flux_brut\", msg.payload);\n    return null;\n}\n\n    \n// Test récupération\nif (msg.from === \"hmac\") {\n\n    var fluxBrut = flow.get(\"flux_brut\");\n    \n    if (!fluxBrut) {\n        return null;\n    }\n\n    var conditionOK = (fluxBrut.hmac === msg.payload);\n\n    if (conditionOK) {\n        var currentflux = fluxBrut;\n        flow.set(\"flux_brut\", null);\n        msg.payload = currentflux;\n        return msg;\n    } else {\n        flow.set(\"flux_brut\", null);\n        return null;\n    }\n}\n  \nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 360,
        "wires": [
            [
                "b05a05c6c2cd1f7b"
            ]
        ]
    },
    {
        "id": "2609538175866e22",
        "type": "change",
        "z": "b5fbf79cf3fe4630",
        "g": "5ce2c169f6082702",
        "name": "brut",
        "rules": [
            {
                "t": "set",
                "p": "from",
                "pt": "msg",
                "to": "brut",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 300,
        "wires": [
            [
                "d5e2d84d1b0e55e2"
            ]
        ]
    },
    {
        "id": "0e48f95deaa36790",
        "type": "change",
        "z": "b5fbf79cf3fe4630",
        "g": "5ce2c169f6082702",
        "name": "hmac",
        "rules": [
            {
                "t": "set",
                "p": "from",
                "pt": "msg",
                "to": "hmac",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 420,
        "wires": [
            [
                "d5e2d84d1b0e55e2"
            ]
        ]
    },
    {
        "id": "1cfae57f8142d415",
        "type": "mqtt in",
        "z": "da3dbcda3d3cedf5",
        "g": "74ba62ed114aee88",
        "name": "MQTT_Pression",
        "topic": "eclss/pression",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "40bb62b9a9e69d05",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "e7fb573d07f5726c",
                "22b3443b4d9e84bc"
            ]
        ]
    },
    {
        "id": "6481e2c865e559a3",
        "type": "switch",
        "z": "da3dbcda3d3cedf5",
        "g": "74ba62ed114aee88",
        "name": "",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3C:DC:75:4A:10:C0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3C:DC:75:44:C4:FC",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1120,
        "y": 400,
        "wires": [
            [
                "68f2d2a7507e1219",
                "c99e61b4f170270a",
                "010873a509ef02f3",
                "1f8e6658bbe49a04"
            ],
            [
                "92fc1f2f986b3def",
                "105a004017ee681a",
                "ca375f6b3385a1a4",
                "b4194c80fd30eab4"
            ]
        ]
    },
    {
        "id": "799fdfe7d540075e",
        "type": "link out",
        "z": "da3dbcda3d3cedf5",
        "name": "PRESSION_OUT_1",
        "mode": "link",
        "links": [
            "a8898717affafdb7"
        ],
        "x": 1475,
        "y": 320,
        "wires": []
    },
    {
        "id": "117a9a0421cd2107",
        "type": "link out",
        "z": "da3dbcda3d3cedf5",
        "name": "PRESSION_OUT_2",
        "mode": "link",
        "links": [
            "2e1cebc36f26d647"
        ],
        "x": 1475,
        "y": 480,
        "wires": []
    },
    {
        "id": "1f8e6658bbe49a04",
        "type": "function",
        "z": "da3dbcda3d3cedf5",
        "name": "function 1",
        "func": "msg.payload.data = msg.payload.data / 100;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 320,
        "wires": [
            [
                "799fdfe7d540075e"
            ]
        ]
    },
    {
        "id": "b4194c80fd30eab4",
        "type": "function",
        "z": "da3dbcda3d3cedf5",
        "name": "function 2",
        "func": "msg.payload.data = msg.payload.data / 100;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 480,
        "wires": [
            [
                "117a9a0421cd2107"
            ]
        ]
    },
    {
        "id": "010873a509ef02f3",
        "type": "ui-chart",
        "z": "da3dbcda3d3cedf5",
        "g": "6b85a48f2bb38df0",
        "group": "385e324c7234dc56",
        "name": "GraphiqueSalle1_Pression",
        "label": "Pression",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.data",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#fb00ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 5,
        "height": 4,
        "className": "",
        "interpolation": "linear",
        "x": 1700,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ca375f6b3385a1a4",
        "type": "ui-chart",
        "z": "da3dbcda3d3cedf5",
        "g": "22a75c3f04350e3f",
        "group": "1cdea05a0ebe726c",
        "name": "GraphiqueSalle2_Pression",
        "label": "Pression",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.data",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#fb00ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 5,
        "height": 4,
        "className": "",
        "interpolation": "linear",
        "x": 1700,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "68f2d2a7507e1219",
        "type": "ui-gauge",
        "z": "da3dbcda3d3cedf5",
        "g": "6b85a48f2bb38df0",
        "name": "Indicateurs_Pression",
        "group": "7ecb30ab32ed2881",
        "order": 5,
        "value": "payload.data",
        "valueType": "msg",
        "width": 2,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Pression",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "hPa",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "930",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "980",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1050",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1100",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "1200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1720,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c99e61b4f170270a",
        "type": "ui-gauge",
        "z": "da3dbcda3d3cedf5",
        "g": "6b85a48f2bb38df0",
        "name": "IndicateurSalle1_Pression",
        "group": "55ccc1eeea950e03",
        "order": 4,
        "value": "payload.data",
        "valueType": "msg",
        "width": 5,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Pression",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "hPa",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "930",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "980",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1050",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1100",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "1200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1710,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "92fc1f2f986b3def",
        "type": "ui-gauge",
        "z": "da3dbcda3d3cedf5",
        "g": "22a75c3f04350e3f",
        "name": "Indicateurs_Pression",
        "group": "74e44e608f6df442",
        "order": 5,
        "value": "payload.data",
        "valueType": "msg",
        "width": 2,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Pression",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "hPa",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "930",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "980",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1050",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1100",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "1200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1720,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "105a004017ee681a",
        "type": "ui-gauge",
        "z": "da3dbcda3d3cedf5",
        "g": "22a75c3f04350e3f",
        "name": "IndicateurSalle2_Pression",
        "group": "fea12538167ee38c",
        "order": 4,
        "value": "payload.data",
        "valueType": "msg",
        "width": 5,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Pression",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "hPa",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "930",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "980",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1050",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1100",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "1200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1710,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9c83dc7c593a98e8",
        "type": "hmac",
        "z": "da3dbcda3d3cedf5",
        "g": "74ba62ed114aee88",
        "name": "test",
        "algorithm": "HmacSHA256",
        "key": "HGL51xcaM7q43f3dq84fqDQF2ds54f3f43",
        "x": 540,
        "y": 460,
        "wires": [
            [
                "46df33884927592d"
            ]
        ]
    },
    {
        "id": "22b3443b4d9e84bc",
        "type": "function",
        "z": "da3dbcda3d3cedf5",
        "g": "74ba62ed114aee88",
        "name": "function 9",
        "func": "msg.payload = \"id=\" + msg.payload.id + \"&data=\" + msg.payload.data;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 460,
        "wires": [
            [
                "9c83dc7c593a98e8"
            ]
        ]
    },
    {
        "id": "c74d386ac5142e08",
        "type": "function",
        "z": "da3dbcda3d3cedf5",
        "g": "74ba62ed114aee88",
        "name": "function 10",
        "func": "// Test stockage\nif (msg.from === \"brut\") {\n    flow.set(\"flux_brut\", msg.payload);\n    return null;\n}\n\n    \n// Test récupération\nif (msg.from === \"hmac\") {\n\n    var fluxBrut = flow.get(\"flux_brut\");\n    \n    if (!fluxBrut) {\n        return null;\n    }\n\n    var conditionOK = (fluxBrut.hmac === msg.payload);\n\n    if (conditionOK) {\n        var currentflux = fluxBrut;\n        flow.set(\"flux_brut\", null);\n        msg.payload = currentflux;\n        return msg;\n    } else {\n        flow.set(\"flux_brut\", null);\n        return null;\n    }\n}\n  \nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 400,
        "wires": [
            [
                "6481e2c865e559a3"
            ]
        ]
    },
    {
        "id": "e7fb573d07f5726c",
        "type": "change",
        "z": "da3dbcda3d3cedf5",
        "g": "74ba62ed114aee88",
        "name": "brut",
        "rules": [
            {
                "t": "set",
                "p": "from",
                "pt": "msg",
                "to": "brut",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 340,
        "wires": [
            [
                "c74d386ac5142e08"
            ]
        ]
    },
    {
        "id": "46df33884927592d",
        "type": "change",
        "z": "da3dbcda3d3cedf5",
        "g": "74ba62ed114aee88",
        "name": "hmac",
        "rules": [
            {
                "t": "set",
                "p": "from",
                "pt": "msg",
                "to": "hmac",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 460,
        "wires": [
            [
                "c74d386ac5142e08"
            ]
        ]
    },
    {
        "id": "4c4aa7c6900335e3",
        "type": "link out",
        "z": "478fa990d571ea81",
        "name": "QUALITE_AIR_OUT_1",
        "mode": "link",
        "links": [
            "e449102b90166344"
        ],
        "x": 1235,
        "y": 240,
        "wires": []
    },
    {
        "id": "3110fa4886ba7116",
        "type": "link out",
        "z": "478fa990d571ea81",
        "name": "QUALITE_AIR_OUT_2",
        "mode": "link",
        "links": [
            "209ef6594d7f6ad0"
        ],
        "x": 1235,
        "y": 400,
        "wires": []
    },
    {
        "id": "f5eb51c024dd4b54",
        "type": "mqtt in",
        "z": "478fa990d571ea81",
        "g": "0bb27fb54c304beb",
        "name": "MQTT_AirQuality",
        "topic": "eclss/airquality",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "40bb62b9a9e69d05",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 300,
        "wires": [
            [
                "783fca675676d6a5",
                "fdbe9e6b994c5a64"
            ]
        ]
    },
    {
        "id": "b349d62410f857ab",
        "type": "switch",
        "z": "478fa990d571ea81",
        "g": "0bb27fb54c304beb",
        "name": "",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3C:DC:75:4A:10:C0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3C:DC:75:44:C4:FC",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1140,
        "y": 320,
        "wires": [
            [
                "9a0e3f4bc0723c14",
                "d28de00b8a080df8",
                "be702aee0ab6c6e4",
                "4c4aa7c6900335e3"
            ],
            [
                "f841a2e5a44f8685",
                "5ee3586068bdae5d",
                "deb6ba5e42333a5f",
                "3110fa4886ba7116"
            ]
        ]
    },
    {
        "id": "be702aee0ab6c6e4",
        "type": "ui-chart",
        "z": "478fa990d571ea81",
        "g": "1de4cd7949758f48",
        "group": "385e324c7234dc56",
        "name": "GraphiqueSalle1_AirQuality",
        "label": "Qualité Air",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.data",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#00ff00",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 5,
        "height": 4,
        "className": "",
        "interpolation": "linear",
        "x": 1500,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "deb6ba5e42333a5f",
        "type": "ui-chart",
        "z": "478fa990d571ea81",
        "g": "1b243ad50ef84d78",
        "group": "1cdea05a0ebe726c",
        "name": "GraphiqueSalle2_AirQuality",
        "label": "Qualité Air",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.data",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#00ff00",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 5,
        "height": 4,
        "className": "",
        "interpolation": "linear",
        "x": 1500,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9a0e3f4bc0723c14",
        "type": "ui-gauge",
        "z": "478fa990d571ea81",
        "g": "1de4cd7949758f48",
        "name": "Indicateurs_AirQuality",
        "group": "7ecb30ab32ed2881",
        "order": 6,
        "value": "payload.data",
        "valueType": "msg",
        "width": 2,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Qualité Air",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "hPa",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "930",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "980",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1050",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1100",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "1200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1520,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d28de00b8a080df8",
        "type": "ui-gauge",
        "z": "478fa990d571ea81",
        "g": "1de4cd7949758f48",
        "name": "IndicateurSalle1_AirQuality",
        "group": "55ccc1eeea950e03",
        "order": 5,
        "value": "payload.data",
        "valueType": "msg",
        "width": 5,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Qualité Air",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "hPa",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "930",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "980",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1050",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1100",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "1200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1500,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5ee3586068bdae5d",
        "type": "ui-gauge",
        "z": "478fa990d571ea81",
        "g": "1b243ad50ef84d78",
        "name": "IndicateurSalle2_AirQuality",
        "group": "fea12538167ee38c",
        "order": 5,
        "value": "payload.data",
        "valueType": "msg",
        "width": 5,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Qualité Air",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "hPa",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "930",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "980",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1050",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1100",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "1200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1500,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f841a2e5a44f8685",
        "type": "ui-gauge",
        "z": "478fa990d571ea81",
        "g": "1b243ad50ef84d78",
        "name": "Indicateurs_AirQuality",
        "group": "74e44e608f6df442",
        "order": 6,
        "value": "payload.data",
        "valueType": "msg",
        "width": 2,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Qualité Air",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "hPa",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "930",
                "color": "#ffc853",
                "text": "",
                "textType": "label"
            },
            {
                "from": "980",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1050",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1100",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "1200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1520,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7a5ea9631afeb024",
        "type": "hmac",
        "z": "478fa990d571ea81",
        "g": "0bb27fb54c304beb",
        "name": "test",
        "algorithm": "HmacSHA256",
        "key": "HGL51xcaM7q43f3dq84fqDQF2ds54f3f43",
        "x": 580,
        "y": 380,
        "wires": [
            [
                "bdd24d56df55fe2b"
            ]
        ]
    },
    {
        "id": "fdbe9e6b994c5a64",
        "type": "function",
        "z": "478fa990d571ea81",
        "g": "0bb27fb54c304beb",
        "name": "function 11",
        "func": "msg.payload = \"id=\" + msg.payload.id + \"&data=\" + msg.payload.data;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 380,
        "wires": [
            [
                "7a5ea9631afeb024"
            ]
        ]
    },
    {
        "id": "4a36e6de11c9cb84",
        "type": "function",
        "z": "478fa990d571ea81",
        "g": "0bb27fb54c304beb",
        "name": "function 12",
        "func": "// Test stockage\nif (msg.from === \"brut\") {\n    flow.set(\"flux_brut\", msg.payload);\n    return null;\n}\n\n    \n// Test récupération\nif (msg.from === \"hmac\") {\n\n    var fluxBrut = flow.get(\"flux_brut\");\n    \n    if (!fluxBrut) {\n        return null;\n    }\n\n    var conditionOK = (fluxBrut.hmac === msg.payload);\n\n    if (conditionOK) {\n        var currentflux = fluxBrut;\n        flow.set(\"flux_brut\", null);\n        msg.payload = currentflux;\n        return msg;\n    } else {\n        flow.set(\"flux_brut\", null);\n        return null;\n    }\n}\n  \nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 320,
        "wires": [
            [
                "b349d62410f857ab",
                "5cd48fcaa2f4e491"
            ]
        ]
    },
    {
        "id": "783fca675676d6a5",
        "type": "change",
        "z": "478fa990d571ea81",
        "g": "0bb27fb54c304beb",
        "name": "brut",
        "rules": [
            {
                "t": "set",
                "p": "from",
                "pt": "msg",
                "to": "brut",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 260,
        "wires": [
            [
                "4a36e6de11c9cb84"
            ]
        ]
    },
    {
        "id": "bdd24d56df55fe2b",
        "type": "change",
        "z": "478fa990d571ea81",
        "g": "0bb27fb54c304beb",
        "name": "hmac",
        "rules": [
            {
                "t": "set",
                "p": "from",
                "pt": "msg",
                "to": "hmac",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "4a36e6de11c9cb84"
            ]
        ]
    },
    {
        "id": "5cd48fcaa2f4e491",
        "type": "debug",
        "z": "478fa990d571ea81",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 660,
        "wires": []
    },
    {
        "id": "c7cbe741bb2a2a93",
        "type": "inject",
        "z": "f2d92b7c661c77f2",
        "g": "f66f1cb32a02db29",
        "name": "RESET",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "176be534dd91e1fa"
            ]
        ]
    },
    {
        "id": "176be534dd91e1fa",
        "type": "function",
        "z": "f2d92b7c661c77f2",
        "g": "f66f1cb32a02db29",
        "name": "RESET",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 160,
        "wires": [
            [
                "2df02c80abc9bde4"
            ]
        ]
    },
    {
        "id": "ce0d2588616c12f8",
        "type": "inject",
        "z": "f2d92b7c661c77f2",
        "g": "e6aa9a33994fb842",
        "name": "RESET",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 460,
        "wires": [
            [
                "9df5f6ac4576b372"
            ]
        ]
    },
    {
        "id": "9df5f6ac4576b372",
        "type": "function",
        "z": "f2d92b7c661c77f2",
        "g": "e6aa9a33994fb842",
        "name": "RESET",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 460,
        "wires": [
            [
                "23e700540ffa4e61"
            ]
        ]
    },
    {
        "id": "5d49f68db05838db",
        "type": "link in",
        "z": "f2d92b7c661c77f2",
        "g": "f66f1cb32a02db29",
        "name": "TEMPERATURE_IN_1",
        "links": [
            "1d0ff120cf2bc01b"
        ],
        "x": 325,
        "y": 200,
        "wires": [
            [
                "2df02c80abc9bde4"
            ]
        ]
    },
    {
        "id": "59cb07e26be1a55a",
        "type": "link in",
        "z": "f2d92b7c661c77f2",
        "g": "e6aa9a33994fb842",
        "name": "TEMPERATURE_IN_2",
        "links": [
            "bd1051905c3d9b54"
        ],
        "x": 335,
        "y": 500,
        "wires": [
            [
                "23e700540ffa4e61"
            ]
        ]
    },
    {
        "id": "e1c2ae0bad9e401e",
        "type": "link in",
        "z": "f2d92b7c661c77f2",
        "g": "f66f1cb32a02db29",
        "name": "HUMIDITE_IN_1",
        "links": [
            "b619ae0af6229bb1"
        ],
        "x": 325,
        "y": 240,
        "wires": [
            [
                "2df02c80abc9bde4"
            ]
        ]
    },
    {
        "id": "e449102b90166344",
        "type": "link in",
        "z": "f2d92b7c661c77f2",
        "g": "f66f1cb32a02db29",
        "name": "QUALITE_AIR_IN_1",
        "links": [
            "4c4aa7c6900335e3"
        ],
        "x": 325,
        "y": 320,
        "wires": [
            [
                "2df02c80abc9bde4"
            ]
        ]
    },
    {
        "id": "91be1612df20493c",
        "type": "link in",
        "z": "f2d92b7c661c77f2",
        "g": "e6aa9a33994fb842",
        "name": "HUMIDITE_IN_2",
        "links": [
            "48b579de2a866f15"
        ],
        "x": 335,
        "y": 540,
        "wires": [
            [
                "23e700540ffa4e61"
            ]
        ]
    },
    {
        "id": "209ef6594d7f6ad0",
        "type": "link in",
        "z": "f2d92b7c661c77f2",
        "g": "e6aa9a33994fb842",
        "name": "QUALITE_AIR_IN_1",
        "links": [
            "3110fa4886ba7116"
        ],
        "x": 335,
        "y": 620,
        "wires": [
            [
                "23e700540ffa4e61"
            ]
        ]
    },
    {
        "id": "a8898717affafdb7",
        "type": "link in",
        "z": "f2d92b7c661c77f2",
        "g": "f66f1cb32a02db29",
        "name": "PRESSION_IN_1",
        "links": [
            "799fdfe7d540075e"
        ],
        "x": 325,
        "y": 280,
        "wires": [
            [
                "2df02c80abc9bde4"
            ]
        ]
    },
    {
        "id": "2e1cebc36f26d647",
        "type": "link in",
        "z": "f2d92b7c661c77f2",
        "g": "e6aa9a33994fb842",
        "name": "PRESSION_IN_2",
        "links": [
            "117a9a0421cd2107"
        ],
        "x": 335,
        "y": 580,
        "wires": [
            [
                "23e700540ffa4e61"
            ]
        ]
    },
    {
        "id": "2df02c80abc9bde4",
        "type": "ui-chart",
        "z": "f2d92b7c661c77f2",
        "g": "f66f1cb32a02db29",
        "group": "d1c483375cfa1844",
        "name": "Graphiques_SALLE_1",
        "label": "",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.data",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff00ff",
            "#00ff2a",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#ff0000"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#ff0000"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 7,
        "className": "",
        "interpolation": "linear",
        "x": 520,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "23e700540ffa4e61",
        "type": "ui-chart",
        "z": "f2d92b7c661c77f2",
        "g": "e6aa9a33994fb842",
        "group": "788a01256dab4cd0",
        "name": "Graphiques_SALLE_2",
        "label": "",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.data",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff00ff",
            "#00ff1e",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#ff0000"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#ff0000"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 7,
        "className": "",
        "interpolation": "linear",
        "x": 520,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "fc9308ad7e99ba4d",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "6425bb91cec0b581",
        "name": "Graphiques",
        "func": "msg.payload = 5;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            [
                "a272799ea1d05f26"
            ]
        ]
    },
    {
        "id": "1015f82f482e1fd8",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "6425bb91cec0b581",
        "name": "Indicateurs",
        "func": "msg.payload = 2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 100,
        "wires": [
            [
                "a272799ea1d05f26"
            ]
        ]
    },
    {
        "id": "49b9c758ecd4b5bd",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "6425bb91cec0b581",
        "name": "menu",
        "func": "msg.payload = 1;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 60,
        "wires": [
            [
                "a272799ea1d05f26"
            ]
        ]
    },
    {
        "id": "9824bd129e2b2a87",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "1be564a66583308f",
        "name": "Graphiques",
        "func": "msg.payload = 5;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 500,
        "wires": [
            [
                "ab0ff6d030c04542"
            ]
        ]
    },
    {
        "id": "ad710a26d704e03a",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "1be564a66583308f",
        "name": "Indicateurs",
        "func": "msg.payload = 2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 460,
        "wires": [
            [
                "ab0ff6d030c04542"
            ]
        ]
    },
    {
        "id": "331d221b9cd654f4",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "1be564a66583308f",
        "name": "menu",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 420,
        "wires": [
            [
                "ab0ff6d030c04542"
            ]
        ]
    },
    {
        "id": "2d3d85cc87f3b6ae",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "8a219d295def39ff",
        "name": "Graphiques",
        "func": "msg.payload = 5;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1200,
        "wires": [
            [
                "9f9fc868fc04bdc8"
            ]
        ]
    },
    {
        "id": "94ed2d5744ce243a",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "8a219d295def39ff",
        "name": "Indicateurs",
        "func": "msg.payload = 2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1160,
        "wires": [
            [
                "9f9fc868fc04bdc8"
            ]
        ]
    },
    {
        "id": "f8e61b4767bdbf2e",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "8a219d295def39ff",
        "name": "menu",
        "func": "msg.payload = 1;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1120,
        "wires": [
            [
                "9f9fc868fc04bdc8"
            ]
        ]
    },
    {
        "id": "7211fcdc0dae92a6",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "1be564a66583308f",
        "name": "Indi 1",
        "func": "msg.payload = 3;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 560,
        "wires": [
            [
                "ab0ff6d030c04542"
            ]
        ]
    },
    {
        "id": "1a03c4e72830d2b3",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "1be564a66583308f",
        "name": "Indi 2",
        "func": "msg.payload = 4;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 600,
        "wires": [
            [
                "ab0ff6d030c04542"
            ]
        ]
    },
    {
        "id": "c119c8cf5090d981",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "426feb430f3820aa",
        "name": "Graphiques",
        "func": "msg.payload = 5;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 800,
        "wires": [
            [
                "1f6cbeecf2139e38"
            ]
        ]
    },
    {
        "id": "7e2599ac1b6811d1",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "426feb430f3820aa",
        "name": "Indicateurs",
        "func": "msg.payload = 2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 760,
        "wires": [
            [
                "1f6cbeecf2139e38"
            ]
        ]
    },
    {
        "id": "87e9f8665b2ef4f3",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "426feb430f3820aa",
        "name": "menu",
        "func": "msg.payload = 1;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 720,
        "wires": [
            [
                "1f6cbeecf2139e38"
            ]
        ]
    },
    {
        "id": "92e2aa2ecd64470e",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "ef461cd0f13baf2c",
        "name": "Graphiques",
        "func": "msg.payload = 5;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1000,
        "wires": [
            [
                "2e0e4a783c7417d4"
            ]
        ]
    },
    {
        "id": "27ae4e8a81280cc6",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "ef461cd0f13baf2c",
        "name": "Indicateurs",
        "func": "msg.payload = 2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 960,
        "wires": [
            [
                "2e0e4a783c7417d4"
            ]
        ]
    },
    {
        "id": "ea475eda4f194cf0",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "ef461cd0f13baf2c",
        "name": "menu",
        "func": "msg.payload = 1;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 920,
        "wires": [
            [
                "2e0e4a783c7417d4"
            ]
        ]
    },
    {
        "id": "fe9f8b058a70b23d",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "6425bb91cec0b581",
        "name": "Indi 1",
        "func": "msg.payload = 3;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "a272799ea1d05f26"
            ]
        ]
    },
    {
        "id": "10d57428fda71d77",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "6425bb91cec0b581",
        "name": "Indi 2",
        "func": "msg.payload = 4;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 180,
        "wires": [
            [
                "a272799ea1d05f26"
            ]
        ]
    },
    {
        "id": "fa79f8e364e1d802",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "6425bb91cec0b581",
        "name": "Graph 1",
        "func": "msg.payload = 6;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 260,
        "wires": [
            [
                "a272799ea1d05f26"
            ]
        ]
    },
    {
        "id": "79a7f580432108fb",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "6425bb91cec0b581",
        "name": "Graph 2",
        "func": "msg.payload = 7;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 300,
        "wires": [
            [
                "a272799ea1d05f26"
            ]
        ]
    },
    {
        "id": "59e4b0ec5ad001b8",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "8a219d295def39ff",
        "name": "Graph 1",
        "func": "msg.payload = 6;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1240,
        "wires": [
            [
                "9f9fc868fc04bdc8"
            ]
        ]
    },
    {
        "id": "6ee7c8a8c41cc33d",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "8a219d295def39ff",
        "name": "Graph 2",
        "func": "msg.payload = 7;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1280,
        "wires": [
            [
                "9f9fc868fc04bdc8"
            ]
        ]
    },
    {
        "id": "c6d02658e4334571",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "0c6e24edbbb69927",
        "name": "Graphiques",
        "func": "msg.payload = 5;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1480,
        "wires": [
            [
                "39628bc1c3619a9e"
            ]
        ]
    },
    {
        "id": "851ae33a0d0c59af",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "0c6e24edbbb69927",
        "name": "Indicateurs",
        "func": "msg.payload = 2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1440,
        "wires": [
            [
                "39628bc1c3619a9e"
            ]
        ]
    },
    {
        "id": "aa22fa1065427700",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "0c6e24edbbb69927",
        "name": "menu",
        "func": "msg.payload = 1;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1400,
        "wires": [
            [
                "39628bc1c3619a9e"
            ]
        ]
    },
    {
        "id": "f43cfe0f1828a37d",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "33c9d9cd7d6a9744",
        "name": "Graphiques",
        "func": "msg.payload = 5;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1680,
        "wires": [
            [
                "d6dc2137e86463a7"
            ]
        ]
    },
    {
        "id": "8bc5c27bd24dddd5",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "33c9d9cd7d6a9744",
        "name": "Indicateurs",
        "func": "msg.payload = 2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1640,
        "wires": [
            [
                "d6dc2137e86463a7"
            ]
        ]
    },
    {
        "id": "c1349779fef505e2",
        "type": "function",
        "z": "7f7f8fbf85e57dd8",
        "g": "33c9d9cd7d6a9744",
        "name": "menu",
        "func": "msg.payload = 1;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1600,
        "wires": [
            [
                "d6dc2137e86463a7"
            ]
        ]
    },
    {
        "id": "54ddef7a7783754f",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "6425bb91cec0b581",
        "group": "e4c54032fc1a4376",
        "name": "Menu_Graphique",
        "label": "Graphiques",
        "order": 3,
        "width": 6,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "btnmenu",
        "icon": "function",
        "iconPosition": "left",
        "payload": "Graphiques",
        "payloadType": "str",
        "topic": "Graphiques",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "fc9308ad7e99ba4d"
            ]
        ]
    },
    {
        "id": "ea3472339e797d0c",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "6425bb91cec0b581",
        "group": "e4c54032fc1a4376",
        "name": "Menu_Indicateurs",
        "label": "Indicateurs",
        "order": 2,
        "width": 6,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "btnmenu",
        "icon": "alert",
        "iconPosition": "left",
        "payload": "Indicateurs",
        "payloadType": "str",
        "topic": "Indicateurs",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "1015f82f482e1fd8"
            ]
        ]
    },
    {
        "id": "0bb02b0b753956a1",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "6425bb91cec0b581",
        "group": "e4c54032fc1a4376",
        "name": "Menu_Menu",
        "label": "Menu",
        "order": 1,
        "width": 12,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "btnmenu",
        "icon": "home",
        "iconPosition": "left",
        "payload": "Menu",
        "payloadType": "str",
        "topic": "Menu",
        "topicType": "msg",
        "buttonColor": "#34EEFF",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 310,
        "y": 60,
        "wires": [
            [
                "49b9c758ecd4b5bd"
            ]
        ]
    },
    {
        "id": "f45d4fb509cfd828",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "1be564a66583308f",
        "group": "860ff9dfc63ebb37",
        "name": "Indicateurs_Graphique",
        "label": "Graphiques",
        "order": 3,
        "width": 2,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "btnnav",
        "icon": "function",
        "iconPosition": "left",
        "payload": "Graphiques",
        "payloadType": "str",
        "topic": "Graphiques",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 240,
        "y": 500,
        "wires": [
            [
                "9824bd129e2b2a87"
            ]
        ]
    },
    {
        "id": "a6a6a941afffc57d",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "1be564a66583308f",
        "group": "860ff9dfc63ebb37",
        "name": "Indicateurs_Indicateurs",
        "label": "Indicateurs",
        "order": 2,
        "width": 2,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "btnnav",
        "icon": "alert",
        "iconPosition": "left",
        "payload": "Indicateurs",
        "payloadType": "str",
        "topic": "Indicateurs",
        "topicType": "msg",
        "buttonColor": "#34EEFF",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "ad710a26d704e03a"
            ]
        ]
    },
    {
        "id": "203e38f2e21d45ef",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "1be564a66583308f",
        "group": "860ff9dfc63ebb37",
        "name": "Indicateurs_Menu",
        "label": "Menu",
        "order": 1,
        "width": 2,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "btnnav",
        "icon": "home",
        "iconPosition": "left",
        "payload": "Menu",
        "payloadType": "str",
        "topic": "Menu",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "331d221b9cd654f4"
            ]
        ]
    },
    {
        "id": "495e02aaf72c0a56",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "8a219d295def39ff",
        "group": "31e3d1a2d59240a3",
        "name": "Graphiques_Graphique",
        "label": "Graphiques",
        "order": 3,
        "width": 4,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "function",
        "iconPosition": "left",
        "payload": "Graphiques",
        "payloadType": "str",
        "topic": "Graphiques",
        "topicType": "msg",
        "buttonColor": "#34EEFF",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 1200,
        "wires": [
            [
                "2d3d85cc87f3b6ae"
            ]
        ]
    },
    {
        "id": "7107f764d54d81b2",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "8a219d295def39ff",
        "group": "31e3d1a2d59240a3",
        "name": "Graphiques_Indicateurs",
        "label": "Indicateurs",
        "order": 2,
        "width": 0,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "alert",
        "iconPosition": "left",
        "payload": "Indicateurs",
        "payloadType": "str",
        "topic": "Indicateurs",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 1160,
        "wires": [
            [
                "94ed2d5744ce243a"
            ]
        ]
    },
    {
        "id": "34ab2ffe5da6e5e5",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "8a219d295def39ff",
        "group": "31e3d1a2d59240a3",
        "name": "Graphiques_Menu",
        "label": "Menu",
        "order": 1,
        "width": 0,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "home",
        "iconPosition": "left",
        "payload": "Menu",
        "payloadType": "str",
        "topic": "Menu",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 270,
        "y": 1120,
        "wires": [
            [
                "f8e61b4767bdbf2e"
            ]
        ]
    },
    {
        "id": "a34e04721f23dabc",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "1be564a66583308f",
        "group": "7ecb30ab32ed2881",
        "name": "Indicateurs_Zoom1",
        "label": "ZOOM",
        "order": 4,
        "width": 1,
        "height": 8,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "Graphiques",
        "payloadType": "str",
        "topic": "ZOOM",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 560,
        "wires": [
            [
                "7211fcdc0dae92a6"
            ]
        ]
    },
    {
        "id": "1c8f9843be4f0cf2",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "1be564a66583308f",
        "group": "74e44e608f6df442",
        "name": "Indicateurs_Zoom2",
        "label": "ZOOM",
        "order": 4,
        "width": 1,
        "height": 8,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "Graphiques",
        "payloadType": "str",
        "topic": "ZOOM",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 600,
        "wires": [
            [
                "1a03c4e72830d2b3"
            ]
        ]
    },
    {
        "id": "f74f3f941173e875",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "426feb430f3820aa",
        "group": "bc68b521c8446307",
        "name": "IndicateursSalle1_Graphique",
        "label": "Graphiques",
        "order": 3,
        "width": 4,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "function",
        "iconPosition": "left",
        "payload": "Graphiques",
        "payloadType": "str",
        "topic": "Graphiques",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 800,
        "wires": [
            [
                "c119c8cf5090d981"
            ]
        ]
    },
    {
        "id": "3d0ede131d3a24a4",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "426feb430f3820aa",
        "group": "bc68b521c8446307",
        "name": "IndicateursSalle1_Indicateurs",
        "label": "Indicateurs",
        "order": 2,
        "width": 2,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "alert",
        "iconPosition": "left",
        "payload": "Indicateurs",
        "payloadType": "str",
        "topic": "Indicateurs",
        "topicType": "msg",
        "buttonColor": "#34EEFF",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 760,
        "wires": [
            [
                "7e2599ac1b6811d1"
            ]
        ]
    },
    {
        "id": "e1ef40aaf23b3bcb",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "426feb430f3820aa",
        "group": "bc68b521c8446307",
        "name": "IndicateursSalle1_Menu",
        "label": "Menu",
        "order": 1,
        "width": 2,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "home",
        "iconPosition": "left",
        "payload": "Menu",
        "payloadType": "str",
        "topic": "Menu",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "87e9f8665b2ef4f3"
            ]
        ]
    },
    {
        "id": "782681d1960a9bc4",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "ef461cd0f13baf2c",
        "group": "4843d4c6e98112e6",
        "name": "IndicateursSalle2_Graphique",
        "label": "Graphiques",
        "order": 3,
        "width": 2,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "function",
        "iconPosition": "left",
        "payload": "Graphiques",
        "payloadType": "str",
        "topic": "Graphiques",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 1000,
        "wires": [
            [
                "92e2aa2ecd64470e"
            ]
        ]
    },
    {
        "id": "406f4a2b98ddf56d",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "ef461cd0f13baf2c",
        "group": "4843d4c6e98112e6",
        "name": "IndicateursSalle2_Indicateurs",
        "label": "Indicateurs",
        "order": 2,
        "width": 2,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "alert",
        "iconPosition": "left",
        "payload": "Indicateurs",
        "payloadType": "str",
        "topic": "Indicateurs",
        "topicType": "msg",
        "buttonColor": "#34EEFF",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 960,
        "wires": [
            [
                "27ae4e8a81280cc6"
            ]
        ]
    },
    {
        "id": "e60af9798b7f03f5",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "ef461cd0f13baf2c",
        "group": "4843d4c6e98112e6",
        "name": "IndicateursSalle2_Menu",
        "label": "Menu",
        "order": 1,
        "width": 2,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "home",
        "iconPosition": "left",
        "payload": "Menu",
        "payloadType": "str",
        "topic": "Menu",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 920,
        "wires": [
            [
                "ea475eda4f194cf0"
            ]
        ]
    },
    {
        "id": "7b453fa001dba797",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "6425bb91cec0b581",
        "group": "e4c54032fc1a4376",
        "name": "Menu_Indi_1",
        "label": "SALLE 1",
        "order": 4,
        "width": 6,
        "height": 2,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "btnmenu",
        "icon": "",
        "iconPosition": "left",
        "payload": "Graphiques",
        "payloadType": "str",
        "topic": "ZOOM",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "fe9f8b058a70b23d"
            ]
        ]
    },
    {
        "id": "9123c09fb5494209",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "6425bb91cec0b581",
        "group": "e4c54032fc1a4376",
        "name": "Menu_Indi_2",
        "label": "SALLE 2",
        "order": 6,
        "width": 6,
        "height": 2,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "btnmenu",
        "icon": "",
        "iconPosition": "left",
        "payload": "Graphiques",
        "payloadType": "str",
        "topic": "ZOOM",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "10d57428fda71d77"
            ]
        ]
    },
    {
        "id": "74a314507ff81473",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "6425bb91cec0b581",
        "group": "e4c54032fc1a4376",
        "name": "Menu_Graph_1",
        "label": "SALLE 1",
        "order": 5,
        "width": 6,
        "height": 2,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "btnmenu",
        "icon": "",
        "iconPosition": "left",
        "payload": "Graphiques",
        "payloadType": "str",
        "topic": "ZOOM",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "fa79f8e364e1d802"
            ]
        ]
    },
    {
        "id": "770acaeaa41a0f89",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "6425bb91cec0b581",
        "group": "e4c54032fc1a4376",
        "name": "Menu_Graph_2",
        "label": "SALLE 2",
        "order": 7,
        "width": 6,
        "height": 2,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "btnmenu",
        "icon": "",
        "iconPosition": "left",
        "payload": "Graphiques",
        "payloadType": "str",
        "topic": "ZOOM",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 300,
        "y": 300,
        "wires": [
            [
                "79a7f580432108fb"
            ]
        ]
    },
    {
        "id": "a36d349c1753a12c",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "8a219d295def39ff",
        "group": "d1c483375cfa1844",
        "name": "Graphiques_Graph_1",
        "label": "Détails",
        "order": 3,
        "width": 6,
        "height": 2,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "btnmenu",
        "icon": "",
        "iconPosition": "left",
        "payload": "Graphiques",
        "payloadType": "str",
        "topic": "ZOOM",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 260,
        "y": 1240,
        "wires": [
            [
                "59e4b0ec5ad001b8"
            ]
        ]
    },
    {
        "id": "289cb03e1b9ec7f0",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "8a219d295def39ff",
        "group": "788a01256dab4cd0",
        "name": "Graphiques_Graph_2",
        "label": "Détails",
        "order": 3,
        "width": 6,
        "height": 2,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "btnmenu",
        "icon": "",
        "iconPosition": "left",
        "payload": "Graphiques",
        "payloadType": "str",
        "topic": "ZOOM",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 260,
        "y": 1280,
        "wires": [
            [
                "6ee7c8a8c41cc33d"
            ]
        ]
    },
    {
        "id": "0780a974e720284e",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "0c6e24edbbb69927",
        "group": "f283254cb51982b5",
        "name": "GraphiquesSalle1_Graphique",
        "label": "Graphiques",
        "order": 3,
        "width": 2,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "function",
        "iconPosition": "left",
        "payload": "Graphiques",
        "payloadType": "str",
        "topic": "Graphiques",
        "topicType": "msg",
        "buttonColor": "#34EEFF",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 1480,
        "wires": [
            [
                "c6d02658e4334571"
            ]
        ]
    },
    {
        "id": "47d10d2062496a39",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "0c6e24edbbb69927",
        "group": "f283254cb51982b5",
        "name": "GraphiquesSalle1_Indicateurs",
        "label": "Indicateurs",
        "order": 2,
        "width": 2,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "alert",
        "iconPosition": "left",
        "payload": "Indicateurs",
        "payloadType": "str",
        "topic": "Indicateurs",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 1440,
        "wires": [
            [
                "851ae33a0d0c59af"
            ]
        ]
    },
    {
        "id": "d6ac1d2db64b1f38",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "0c6e24edbbb69927",
        "group": "f283254cb51982b5",
        "name": "GraphiquesSalle1_Menu",
        "label": "Menu",
        "order": 1,
        "width": 2,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "home",
        "iconPosition": "left",
        "payload": "Menu",
        "payloadType": "str",
        "topic": "Menu",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 1400,
        "wires": [
            [
                "aa22fa1065427700"
            ]
        ]
    },
    {
        "id": "b48e98bb9a0ee539",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "33c9d9cd7d6a9744",
        "group": "18fcc85af1dd1f7a",
        "name": "GraphiquesSalle2_Graphique",
        "label": "Graphiques",
        "order": 3,
        "width": 2,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "function",
        "iconPosition": "left",
        "payload": "Graphiques",
        "payloadType": "str",
        "topic": "Graphiques",
        "topicType": "msg",
        "buttonColor": "#34EEFF",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 1680,
        "wires": [
            [
                "f43cfe0f1828a37d"
            ]
        ]
    },
    {
        "id": "0a766f911ffdd3cd",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "33c9d9cd7d6a9744",
        "group": "18fcc85af1dd1f7a",
        "name": "GraphiquesSalle2_Indicateurs",
        "label": "Indicateurs",
        "order": 2,
        "width": 2,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "alert",
        "iconPosition": "left",
        "payload": "Indicateurs",
        "payloadType": "str",
        "topic": "Indicateurs",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 1640,
        "wires": [
            [
                "8bc5c27bd24dddd5"
            ]
        ]
    },
    {
        "id": "5822baacd5ed1d96",
        "type": "ui-button",
        "z": "7f7f8fbf85e57dd8",
        "g": "33c9d9cd7d6a9744",
        "group": "18fcc85af1dd1f7a",
        "name": "GraphiquesSalle2_Menu",
        "label": "Menu",
        "order": 1,
        "width": 2,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "home",
        "iconPosition": "left",
        "payload": "Menu",
        "payloadType": "str",
        "topic": "Menu",
        "topicType": "msg",
        "buttonColor": "#696969",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 1600,
        "wires": [
            [
                "c1349779fef505e2"
            ]
        ]
    },
    {
        "id": "5a97ef9b6a3cf495",
        "type": "ui-text",
        "z": "7f7f8fbf85e57dd8",
        "group": "55ccc1eeea950e03",
        "order": 1,
        "width": 0,
        "height": 1,
        "name": "Titre Salle 1",
        "label": "SALLE 1",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "",
        "fontSize": "30",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1350,
        "y": 360,
        "wires": []
    },
    {
        "id": "c8772c14020cc10f",
        "type": "ui-text",
        "z": "7f7f8fbf85e57dd8",
        "group": "fea12538167ee38c",
        "order": 1,
        "width": 0,
        "height": 1,
        "name": "Titre Salle 2",
        "label": "SALLE 2",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "",
        "fontSize": "30",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1350,
        "y": 400,
        "wires": []
    },
    {
        "id": "6a146d45c2773436",
        "type": "ui-text",
        "z": "7f7f8fbf85e57dd8",
        "group": "7ecb30ab32ed2881",
        "order": 1,
        "width": 0,
        "height": 1,
        "name": "Titre Indicateurs Salle 1",
        "label": "SALLE 1",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "30",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1130,
        "y": 360,
        "wires": []
    },
    {
        "id": "e57258210d3eccda",
        "type": "ui-text",
        "z": "7f7f8fbf85e57dd8",
        "group": "74e44e608f6df442",
        "order": 1,
        "width": 0,
        "height": 1,
        "name": "Titre Indicateurs Salle 2",
        "label": "SALLE 2",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "30",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1130,
        "y": 400,
        "wires": []
    },
    {
        "id": "f8eb6ba406f0b8ee",
        "type": "ui-text",
        "z": "7f7f8fbf85e57dd8",
        "group": "d1c483375cfa1844",
        "order": 1,
        "width": 0,
        "height": 1,
        "name": "Titre Graphiques Salle 1",
        "label": "SALLE 1",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "30",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1130,
        "y": 460,
        "wires": []
    },
    {
        "id": "290aa4c5f2c6fa01",
        "type": "ui-text",
        "z": "7f7f8fbf85e57dd8",
        "group": "788a01256dab4cd0",
        "order": 1,
        "width": 0,
        "height": 1,
        "name": "Titre Graphiques Salle 2",
        "label": "SALLE 2",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "30",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1130,
        "y": 500,
        "wires": []
    },
    {
        "id": "b67f6c9c9be003f7",
        "type": "ui-text",
        "z": "7f7f8fbf85e57dd8",
        "group": "385e324c7234dc56",
        "order": 1,
        "width": 0,
        "height": 1,
        "name": "Titre Salle 1 Salle 1",
        "label": "SALLE 1",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "30",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1110,
        "y": 560,
        "wires": []
    },
    {
        "id": "d13ab7fdfacc56b7",
        "type": "ui-text",
        "z": "7f7f8fbf85e57dd8",
        "group": "1cdea05a0ebe726c",
        "order": 1,
        "width": 0,
        "height": 1,
        "name": "Titre Salle 2 Salle 2",
        "label": "SALLE 2",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "30",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1110,
        "y": 600,
        "wires": []
    },
    {
        "id": "49497554b826df3e",
        "type": "ui-template",
        "z": "7f7f8fbf85e57dd8",
        "group": "e4c54032fc1a4376",
        "page": "",
        "ui": "",
        "name": "btnmenu",
        "order": 8,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    button.btnmenu,\n    .btnmenu button {\n        font-size: 70px !important;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1080,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0002222c974548f2",
        "type": "ui-template",
        "z": "7f7f8fbf85e57dd8",
        "group": "",
        "page": "",
        "ui": "966c624c504785b0",
        "name": "CSS GLOBAL",
        "order": 3,
        "width": 0,
        "height": "0",
        "head": "",
        "format": ".nr-dashboard-button,\n.md-button,\nbutton {\n    font-size: 18px !important;\n    border-radius: 20px !important;\n    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;\n}\n\n.vertical-text {\n    display: inline-block;\n    transform: rotate(-90deg);   /* ou -90deg */\n    transform-origin: center;\n}\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "site:style",
        "className": "",
        "x": 1100,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a272799ea1d05f26",
        "type": "ui-control",
        "z": "7f7f8fbf85e57dd8",
        "g": "6425bb91cec0b581",
        "name": "Control MENU",
        "ui": "966c624c504785b0",
        "events": "all",
        "x": 740,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ab0ff6d030c04542",
        "type": "ui-control",
        "z": "7f7f8fbf85e57dd8",
        "g": "1be564a66583308f",
        "name": "Control INDICATEURS",
        "ui": "966c624c504785b0",
        "events": "all",
        "x": 720,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "9f9fc868fc04bdc8",
        "type": "ui-control",
        "z": "7f7f8fbf85e57dd8",
        "g": "8a219d295def39ff",
        "name": "Control Graphiques",
        "ui": "966c624c504785b0",
        "events": "all",
        "x": 730,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "1f6cbeecf2139e38",
        "type": "ui-control",
        "z": "7f7f8fbf85e57dd8",
        "g": "426feb430f3820aa",
        "name": "Control Indicateur Salle 1",
        "ui": "966c624c504785b0",
        "events": "all",
        "x": 710,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "2e0e4a783c7417d4",
        "type": "ui-control",
        "z": "7f7f8fbf85e57dd8",
        "g": "ef461cd0f13baf2c",
        "name": "Control Indicateur Salle 2",
        "ui": "966c624c504785b0",
        "events": "all",
        "x": 710,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "39628bc1c3619a9e",
        "type": "ui-control",
        "z": "7f7f8fbf85e57dd8",
        "g": "0c6e24edbbb69927",
        "name": "Control Graphique Salle 1",
        "ui": "966c624c504785b0",
        "events": "all",
        "x": 710,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "d6dc2137e86463a7",
        "type": "ui-control",
        "z": "7f7f8fbf85e57dd8",
        "g": "33c9d9cd7d6a9744",
        "name": "Control Graphique Salle 1",
        "ui": "966c624c504785b0",
        "events": "all",
        "x": 710,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "b031581bb91fd82a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "@flowfuse/node-red-dashboard": "1.30.1",
            "node-red-contrib-crypto-js": "0.1.1"
        }
    }
]